body {
    overflow-y: scroll;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
#facebook ._-kb div {
    font-family: inherit;
}
._li._li._li {
    overflow: initial;
}
#facebook ._-kb div {
    font-family: inherit;
}
._3_s1._3_s0 {
    background-color: #29487d;
    color: #fff;
}
._3_s0._1toe {
    height: 0;
    overflow: hidden;
}
._3_s0._3_s0 {
    border: 0;
    display: flex;
    height: 44px;
    min-width: 600px;
    position: relative;
    text-align: left;
    top: 0;
    transition: top .3s, height .3s;
    z-index: 301;
}
.noborder {
    border: none;
}
.uiBoxGray {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
#facebook ._-kb div {
    font-family: inherit;
}
._3_s0 ._608m {
    align-self: flex-end;
    margin: 0 auto;
    max-width: 981px;
    min-width: 100px;
    padding: 0 12px;
    width: 100%;
}
._3_s1._3_s0 {
    color: #fff;
}
._3_s0._3_s0 {
    text-align: left;
}
#facebook ._-kb div {
    font-family: inherit;
}
._3_s0 ._tb6 {
    align-items: center;
    height: 44px;
}
._5aj7 {
    display: flex;
}
._3_s1._3_s0 {
    color: #fff;
}
._3_s0._3_s0 {
    text-align: left;
}




#facebook ._-kb div {
    font-family: inherit;
}
._53jh {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    position: relative;
    z-index: 1;
}

.loggedout_menubar_container {
    height: 82px;
    min-width: 980px;
}
.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}
.clearfix {
    zoom: 1;
}
._ohe {
    float: left;
}
.lfloat {
    float: left;
}
a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
.loggedout_menubar .fb_logo {
    margin-top: 17px;
}
.sp_DVvTt_Dqodp.sx_b906b8 {
    width: 170px;
    height: 34px;
    background-position: 0 -196px;
}
i.img {
    -ms-high-contrast-adjust: none;
}
.sp_DVvTt_Dqodp {
    background-image: url(/img/Vb79ZNQ5DxJ.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
i.img u {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
._ohf {
    float: right;
}
.rfloat {
    float: right;
}
form {
    margin: 0;
    padding: 0;
}
.menu_login_container .html7magic {
    padding-bottom: 4px;
}
.menu_login_container table tr td {
    padding: 0 0 0 14px;
        padding-bottom: 0px;
}
td, td.label {
    text-align: left;
}
.menu_login_container .html7magic label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}
.menu_login_container .html7magic {
    padding-bottom: 4px;
}
.menu_login_container table tr td {
    padding: 0 0 0 14px;
        padding-bottom: 0px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.menu_login_container #email {
    direction: ltr;
}
.menu_login_container .inputtext, .menu_login_container .inputpassword {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
}
.inputtext, .inputpassword {
    padding-bottom: 4px;
}
textarea, .inputtext, .inputpassword {
    border: 1px solid #ccd0d5;
    border-top-color: rgb(204, 208, 213);
    border-right-color: rgb(204, 208, 213);
    border-bottom-color: rgb(204, 208, 213);
    border-left-color: rgb(204, 208, 213);
    border-radius: 0;
    margin: 0;
    padding: 3px;
    padding-bottom: 3px;
}
input, select, textarea {
    background-color: #fff;
    color: #1c1e21;
}
.menu_login_container #email {
    direction: ltr;
}
.uiButtonConfirm {
    background-color: #4267b2;
    border-color: #29487d;
}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-top-color: rgb(204, 208, 213);
    border-right-color: rgb(204, 208, 213);
    border-bottom-color: rgb(204, 208, 213);
    border-left-color: rgb(204, 208, 213);
}
.uiButton {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
}
label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input {
    color: #fff;
}
.uiButtonText, .uiButton input {
    background: none;
    border: 0;
    color: #4b4f56;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.menu_login_container .login_form_label_field {
    padding-top: 4px;
}
.menu_login_container table tr td {
    padding: 0 0 0 14px;
        padding-top: 0px;
}
td, td.label {
    text-align: left;
}
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a {
    color: #9cb4d8;
    font-weight: normal;
}
a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
#content {
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}
.fb_content {
    min-height: 640px;
    padding-bottom: 20px;
}
.clearfix {
    zoom: 1;
}
.fbIndex .gradient {
    min-width: 980px;
}
.fbIndex .gradient {
    background: url(/rsrc.php/v3/yB/r/TwAHgQi2ZPB.png) 0 bottom repeat-x;
    background: linear-gradient(white, #D3D8E8);
}
.fbIndex .gradient .gradientContent {
    margin: 0 auto;
    position: relative;
    width: 980px;
}
._5iyy {
    margin-right: 15px;
    width: 565px;
}
._5iyx {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
img {
    border: 0;
}
._5iyz {
    max-width: 400px;
}
.pvl {
    padding-top: 20px;
    padding-bottom: 20px;
}
._52lp._59d- ._52lq {
    font-size: 36px;
}
.fcb {
    color: #333;
}
.fwb {
    font-weight: 600;
}
.fsl {
    font-size: 14px;
}
.mbs {
    margin-bottom: 5px;
}
._52lp._59d- ._52lr {
    color: #1d2129;
    font-size: 19px;
}
.fcg {
    color: #90949c;
}
.fwn {
    font-weight: normal;
}
.fsm {
    font-size: 12px;
}
._58mf {
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
}
#facebook .hidden_elem {
    display: none !important;
}
._58mn {
    background: #ffebe8;
    border: 1px solid #dd3c10;
    line-height: 15px;
    margin: 12px 0 12px 0;
    overflow: hidden;
    text-align: center;
}
._58mo {
    padding: 7px 3px;
}
._58mn {
    line-height: 15px;
    text-align: center;
}
form {
    margin: 0;
    padding: 0;
}
._58mh {
    width: 399px;
}
.clearfix {
    zoom: 1;
}
._3-90 {
    margin-right: 8px;
}
._a4y {
    display: inline-block;
    position: relative;
}
.mbm {
    margin-bottom: 10px;
}
._5dbb {
    position: relative;
}
._58mh .uiStickyPlaceholderInput {
    width: 194px;
}
._58mf .uiStickyPlaceholderInput {
    background: white;
    border-radius: 5px;
    width: 399px;
}
.uiStickyPlaceholderInput {
    display: inline-block;
    position: relative;
}
.gecko.mac ._58mf ._58mg, ._58mf ._58mg, ._58mf .uiStickyPlaceholderInput .placeholder {
    font-size: 18px;
    padding: 8px 10px;
}
._58mf .uiStickyPlaceholderInput .placeholder {
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._58mf div._5634 ._5dba {
    border-color: red;
    border-style: solid;
}
._58mh ._58mg {
    width: 172px;
}
._58mf ._58mg {
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
}
div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
}
.uiStickyPlaceholderInput .placeholder {
    color: #999;
    cursor: text;
    display: none;
    height: 100%;
    left: 0;
    padding: 4px 0 0 5px;
    position: absolute;
    top: 0;
    width: 100%;
}

.uiStickyPlaceholderInput input, .uiStickyPlaceholderInput textarea {
    background-color: transparent;
    position: relative;
}
._2ph- {
    padding: 8px;
}
.sp_UQETc8Y6QpO.sx_ad93cf {
    width: 21px;
    height: 21px;
    background-position: 0 -214px;
}
i.img {
    -ms-high-contrast-adjust: none;
}
.sp_UQETc8Y6QpO {
    background-image: url(/rsrc.php/v3/yN/r/DQDvQ2X3Nby.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 56px;
    width: 56px;
}
._5dbb ._1pc_ {
    display: none;
}
._1ixn ._1pc_ {
    display: none;
    margin-top: -10px;
}
.rfloat {
    float: right;
}
div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
}
._2ph- {
    padding: 8px;
}
._5dbb._5634 ._5dbc, ._5dbb._5635 ._5dbd {
    display: inline;
}
._5dbb ._5dbc, ._5dbb ._5dbd {
    display: none;
    position: absolute;
    right: 9px;
    top: 9px;
}
i.img {
    -ms-high-contrast-adjust: none;
}
.clearfix::after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: 
    hidden;
}
._1ixn ._1pc_ {
    display: none;
    margin-top: -10px;
}
div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
}
._2ph- {
    padding: 8px;
}

div.uiStickyPlaceholderEmptyInput .placeholder {
    display: block;
}
._2_68 {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
}
.mbs {
    margin-bottom: 5px;
}
.mtm {
    margin-top: 10px;
}
._5k_5 {
    position: relative;
}
._5k_4 {
    display: inline-block;
}
._58mq select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}
._58mq select {
    font-size: 13px;
}
input, select, textarea {
    color: #1c1e21;
}
._58mq select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}
._9407 {
    vertical-align: top;
}

.mtm {
    margin-top: 10px;
}
._2_68 {
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
}
.mbs {
    margin-bottom: 5px;
}
.mtm {
    margin-top: 10px;
}
._5k_3 {
    display: inline-block;
}
._5k_2:first-child {
    margin-right: 4px;
}
._5k_2 {
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
}
._58mt {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}
._58ms {
    font-size: 11px;
    max-width: 150px;
}
._58ms {
    display: inline-block;
    max-width: 140px;
    vertical-align: middle;
}
.mlm {
    margin-left: 10px;
}
a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
._58mu {
    width: 399px;
}
._58mu ._58mv {
    color: #777;
    font-size: 11px;
    width: 316px;
}
p {
    margin: 1em 0;
}
._58mf ._6o {
    font-size: 19px;
}
._3ma {
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
}
._6v {
    font-weight: bold;
}
._6o {
    font-size: 19px;
    line-height: 126%;
}
._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
._6wl {
    background: linear-gradient(#67ae55, #578843);
    background-color: rgba(0, 0, 0, 0);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
._6wk {
    padding: 20px 30px;
}
._6j {
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
._58mk {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
.clearfix::after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#pageFooter {
    color: #737373;
    margin: 0 auto;
    width: 980px;
}
.localeSelectorList {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
._2pid {
    padding-top: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        padding-top: 0px;
}
._4ki._6-h > li:first-child {
    padding-left: 0;
}
._4ki._6-i > li {
    padding-right: 0;
}
._4ki._6-j > li {
    padding-left: 10px;
    padding-right: 10px;
}
.uiList > li:first-child {
    border-width: 0;
}
._509- > li {
    vertical-align: top;
}
._4ki > li {
    display: inline-block;
}
#contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
#pageFooter .pageFooterLinkList {
    line-height: 1.6;
    margin-left: -20px;
}
ul {
    list-style-type: none;
    margin: 0;
        margin-left: 0px;
    padding: 0;
}
#facebook ._-kb div {
    font-family: inherit;
}
#pageFooter .copyright {
    font-size: 11px;
}
.mvl {
    margin-top: 20px;
    margin-bottom: 20px;
}
#pageFooter {
    color: #737373;
}
._4ki._6-i > li {
    padding-right: 0;
}
._4ki._703 > li {
    padding-left: 20px;
}
.uiList > li:first-child {
    border-width: 0;
}
._509- > li {
    vertical-align: top;
}
._4ki > li {
    border-width: 0 0 0 1px;
    display: inline-block;
}
#facebook ._-kb div {
    font-family: inherit;
}
.fbIndex .gradient {
    min-width: 980px;
}
.fbIndex .gradient {
    background: url(/rsrc.php/v3/yB/r/TwAHgQi2ZPB.png) 0 bottom repeat-x;
    background: linear-gradient(white, #D3D8E8);
}
.fbIndex .gradient .gradientContent {
    margin: 0 auto;
    position: relative;
    width: 980px;
}