body {
    overflow-y: scroll;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
#facebook ._-kb div {
    font-family: inherit;
}
._li._li._li {
    overflow: initial;
}
#facebook ._-kb div {
    font-family: inherit;
}
._3_s1._3_s0 {
    background-color: #29487d;
    color: #fff;
}
._3_s0._1toe {
    height: 0;
    overflow: hidden;
}
._3_s0._3_s0 {
    border: 0;
    display: flex;
    height: 44px;
    min-width: 600px;
    position: relative;
    text-align: left;
    top: 0;
    transition: top .3s, height .3s;
    z-index: 301;
}
.noborder {
    border: none;
}
.uiBoxGray {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
#facebook ._-kb div {
    font-family: inherit;
}
._3_s0 ._608m {
    align-self: flex-end;
    margin: 0 auto;
    max-width: 981px;
    min-width: 100px;
    padding: 0 12px;
    width: 100%;
}
._3_s1._3_s0 {
    color: #fff;
}
._3_s0._3_s0 {
    text-align: left;
}
#facebook ._-kb div {
    font-family: inherit;
}
._3_s0 ._tb6 {
    align-items: center;
    height: 44px;
}
._5aj7 {
    display: flex;
}
._3_s1._3_s0 {
    color: #fff;
}
._3_s0._3_s0 {
    text-align: left;
}




#facebook ._-kb div {
    font-family: inherit;
}
._53jh {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    position: relative;
    z-index: 1;
}

.loggedout_menubar_container {
    height: 82px;
    min-width: 980px;
}
.loggedout_menubar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}
.clearfix {
    zoom: 1;
}
._ohe {
    float: left;
}
.lfloat {
    float: left;
}
a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
.loggedout_menubar .fb_logo {
    margin-top: 17px;
}
.sp_DVvTt_Dqodp.sx_b906b8 {
    width: 170px;
    height: 34px;
    background-position: 0 -196px;
}
i.img {
    -ms-high-contrast-adjust: none;
}
.sp_DVvTt_Dqodp {
    background-image: url(/img/Vb79ZNQ5DxJ.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
i.img u {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
._ohf {
    float: right;
}
.rfloat {
    float: right;
}
form {
    margin: 0;
    padding: 0;
}
.menu_login_container .html7magic {
    padding-bottom: 4px;
}
.menu_login_container table tr td {
    padding: 0 0 0 14px;
        padding-bottom: 0px;
}
td, td.label {
    text-align: left;
}
.menu_login_container .html7magic label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}
.menu_login_container .html7magic {
    padding-bottom: 4px;
}
.menu_login_container table tr td {
    padding: 0 0 0 14px;
        padding-bottom: 0px;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.menu_login_container #email {
    direction: ltr;
}
.menu_login_container .inputtext, .menu_login_container .inputpassword {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
}
.inputtext, .inputpassword {
    padding-bottom: 4px;
}
textarea, .inputtext, .inputpassword {
    border: 1px solid #ccd0d5;
    border-top-color: rgb(204, 208, 213);
    border-right-color: rgb(204, 208, 213);
    border-bottom-color: rgb(204, 208, 213);
    border-left-color: rgb(204, 208, 213);
    border-radius: 0;
    margin: 0;
    padding: 3px;
    padding-bottom: 3px;
}
input, select, textarea {
    background-color: #fff;
    color: #1c1e21;
}
.menu_login_container #email {
    direction: ltr;
}
.uiButtonConfirm {
    background-color: #4267b2;
    border-color: #29487d;
}
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-top-color: rgb(204, 208, 213);
    border-right-color: rgb(204, 208, 213);
    border-bottom-color: rgb(204, 208, 213);
    border-left-color: rgb(204, 208, 213);
}
.uiButton {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
}
label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input {
    color: #fff;
}
.uiButtonText, .uiButton input {
    background: none;
    border: 0;
    color: #4b4f56;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.menu_login_container .login_form_label_field {
    padding-top: 4px;
}
.menu_login_container table tr td {
    padding: 0 0 0 14px;
        padding-top: 0px;
}
td, td.label {
    text-align: left;
}
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a {
    color: #9cb4d8;
    font-weight: normal;
}
a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
#content {
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}
.fb_content {
    min-height: 640px;
    padding-bottom: 20px;
}
.clearfix {
    zoom: 1;
}
.fbIndex .gradient {
    min-width: 980px;
}
.fbIndex .gradient {
    background: url(/rsrc.php/v3/yB/r/TwAHgQi2ZPB.png) 0 bottom repeat-x;
    background: linear-gradient(white, #D3D8E8);
}
.fbIndex .gradient .gradientContent {
    margin: 0 auto;
    position: relative;
    width: 980px;
}
._ohe {
    float: left;
}
._5iyy {
    margin-right: 15px;
    width: 565px;
}
._5iyx {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
img {
    border: 0;
}
._5iyz {
    max-width: 400px;
}
._ohf {
    float: right;
}
.rfloat {
    float: right;
}